account-page{
    .card-md{
       background: rgba(236, 171, 87, 0.514);
       border-radius: 20px;
       
         p,.card-title-md{
            color:#fff;
        }
        img{
            max-height: 300px;
            // border-radius: 50%;
           }
    }
}